<div class="container-fluid">
    <div class="menu">
        <ul class="menu-item">
            <li><img src="icons/sell-property.png" class="icon"><a href="/">Pagina Inicial</a></li>
            <li><img src="icons/iniciar.png" class="icon"><a href="#">Inicar Caixa</a></li>
            <li><img src="icons/manager.png" class="icon"><a href="#">Clientes</a></li>
            <li><img src="icons/survey.png" class="icon"><a href="#">Anotar Fiados</a></li>
            <li><img src="icons/registrar-pagamento.png" class="icon"><a href="#">Registrar Pagamento</a></li>
            <li><img src="icons/money-protection-flat-icon-vector-13340892.jpg" class="icon"><a href="#">Sangria</a></li>
            <li><img src="icons/caixa.png" class="icon"><a href="#">Encerrar Caixa</a></li>
        </ul>
    </div>
</div>