<%- include('partials/header.ejs') %> 
<%- include('partials/menu.ejs') %> 

<div class="container-fluid">
    <div class="card card-inicio">
       <div class="inicio-dia">
            <div class="inicio-geral">
                <p>Lucro do Dia</p>
            </div>
            <div class="inicio-geral">
                <p>Fiados do Dia</p>
            </div>
            <hr>
            <div class="total-dia">
                <p>Total do Dia</p>
            </div>
       </div>
       <div class="inicio-dia-valor">
            <div class="inicio-valor-geral1">
                <p>R$ 00,00</p>
            </div>
            <div class="inicio-valor-geral2">
                <p>R$ 00,00</p>
            </div>
            <div class="total-dia-valor">
                <p>R$0,00</p>
            </div>
       </div>
       <div class="inicio-mes">
           <div class="inicio-geral lucro-mes">
                <p>Lucro Mensal</p>
            </div>
            <div class="inicio-geral lucro-mes">
                <p>Fiado Mensal</p>
            </div>
            <hr>
            <div class="total-mensal">
                <p>Total Mensal</p>
            </div>
            <div class="total-mensal-valor">
                <p>R$0,00</p>
            </div>
        </div>
        <div class="inicio-dia-valor">
            <div class="inicio-valor-geral3">
                <p>R$ 00,00</p>
            </div>
            <div class="inicio-valor-geral4">
                <p>R$ 00,00</p>
            </div>
        </div>
        <div class="inicio-deve">
            <div class="inicio-geral deve1">
                <p>Maquina Principal</p>
            </div>
            <div class="inicio-geral deve1">
                <p>Maquina LoteriaFort</p>
            </div>
        </div>
        <div class="inicio-valor-geral5">
            <p>R$ 00,00</p>
        </div>
        <div class="inicio-valor-geral6">
            <p>R$ 00,00</p>
        </div>
        <div class="deve-total">
            <p>Deve Total</p>
        </div>
        <div class="deve-total-valor">
            <p>R$ 0,00</p>
        </div>
    </div>
</div>

<%- include('partials/footer.ejs') %> 